h1 
{
    color: rgb(194, 16, 96);
    align-items: center;
    justify-content: center;
    display:flex;
    margin:auto;
    font-size: 6em;
}
img 
{
    width: 10em;
    height: 7em;
    border: 0.7em solid pink;
    border-right-color: rgb(100, 216, 216);
    border-left-color: rgb(100, 216, 216); 
}
body
{
    background-color:rgb(234, 212, 255);
    background-image: url(/CSS_pizza/gradient.png);
    background-size:cover, contain;
}
p
{
    font-size: large;
    color:rgb(194, 16, 96);
    padding:0.5em;
    border:0.7em solid pink;
    background-color:  rgb(197, 250, 250);
    width:25em;
    align-items: center;
    justify-content: center;
    display:flex;
    margin:auto;
    margin-bottom: 1em;
}

ol
{
    font-size: large;
    color:rgb(194, 16, 96);
    padding:0.5em;
    border:0.7em solid pink;
    background-color:  rgb(197, 250, 250);
    width:30em;
    padding-left:2em;
    margin-bottom: 1em;
}
li
{
    color:rgb(194, 16, 96);
    padding:0.5em;
    border:0.7em solid rgb(255, 165, 165);
    background-color:  rgb(255, 255, 255);
    width:22em;
    padding-left:2em;
    margin-bottom: 1em;
}
#altList 
{
    width:4em;
    list-style:none;
    display:inline;
    margin-right: 2em;
    padding-right:2em;
    
    
}